//* @group ----- Typography ----- */

$base-font-size: 16px;
$base-line-height: 32px;

//Neutral
$light-gray:#AAA3A2;
$dark-gray:#4E4C4C;

// Reds
$red:#C31330;

// Blues
$porcelain:#EDF1F2;
$picton-blue:#3aa5e9;
$calypso:#3a7092;
$mirage:#141823;

//Yellow
$gold:#DCC67A;
$cherokee:#fbdc9f;
$westar:#dfd8d0;


//* @end */